body {
  margin:0px;
  background-color:rgba(85, 85, 85, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1482px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u294 {
  position:absolute;
  left:114px;
  top:78px;
}
#u294_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1320px;
  height:444px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u294_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u296 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
.u297 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  display:flex;
}
.u297 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u297_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u298_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
.u298 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:62px;
  width:60px;
  height:14px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
.u298 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u298_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u295-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:76px;
}
#u295-2 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:0px;
  width:60px;
  height:76px;
}
#u295-3 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:0px;
  width:60px;
  height:76px;
}
#u295-4 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:0px;
  width:60px;
  height:76px;
}
#u295-5 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:0px;
  width:60px;
  height:76px;
}
#u295-6 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:0px;
  width:60px;
  height:76px;
}
#u295-7 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:0px;
  width:60px;
  height:76px;
}
#u295-8 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:0px;
  width:60px;
  height:76px;
}
#u295-9 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:0px;
  width:60px;
  height:76px;
}
#u295-10 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:0px;
  width:60px;
  height:76px;
}
#u295-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:106px;
  width:60px;
  height:76px;
}
#u295-12 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:106px;
  width:60px;
  height:76px;
}
#u295-13 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:106px;
  width:60px;
  height:76px;
}
#u295-14 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:106px;
  width:60px;
  height:76px;
}
#u295-15 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:106px;
  width:60px;
  height:76px;
}
#u295-16 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:106px;
  width:60px;
  height:76px;
}
#u295-17 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:106px;
  width:60px;
  height:76px;
}
#u295-18 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:106px;
  width:60px;
  height:76px;
}
#u295-19 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:106px;
  width:60px;
  height:76px;
}
#u295-20 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:106px;
  width:60px;
  height:76px;
}
#u295-21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:212px;
  width:60px;
  height:76px;
}
#u295-22 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:212px;
  width:60px;
  height:76px;
}
#u295-23 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:212px;
  width:60px;
  height:76px;
}
#u295-24 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:212px;
  width:60px;
  height:76px;
}
#u295-25 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:212px;
  width:60px;
  height:76px;
}
#u295-26 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:212px;
  width:60px;
  height:76px;
}
#u295-27 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:212px;
  width:60px;
  height:76px;
}
#u295-28 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:212px;
  width:60px;
  height:76px;
}
#u295-29 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:212px;
  width:60px;
  height:76px;
}
#u295-30 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:212px;
  width:60px;
  height:76px;
}
#u295-31 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:318px;
  width:60px;
  height:76px;
}
#u295-32 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:318px;
  width:60px;
  height:76px;
}
#u295-33 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:318px;
  width:60px;
  height:76px;
}
#u295-34 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:318px;
  width:60px;
  height:76px;
}
#u295-35 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:318px;
  width:60px;
  height:76px;
}
#u295-36 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:318px;
  width:60px;
  height:76px;
}
#u295-37 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:318px;
  width:60px;
  height:76px;
}
#u295-38 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:318px;
  width:60px;
  height:76px;
}
#u295-39 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:318px;
  width:60px;
  height:76px;
}
#u295-40 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:318px;
  width:60px;
  height:76px;
}
#u295 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:1320px;
  height:394px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u299_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u299 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:33px;
  display:flex;
}
#u299 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u299_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u300_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u300_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u300_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#333333;
}
#u300 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:240px;
  height:25px;
  display:flex;
  color:#333333;
}
#u300 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u300_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#333333;
}
#u300.disabled {
}
#u301_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:25px;
  background:inherit;
  background-color:rgba(59, 140, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u301 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:4px;
  width:48px;
  height:25px;
  display:flex;
  color:#FFFFFF;
}
#u301 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u301_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u294_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:1320px;
  height:444px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u294_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u303 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
.u304 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  display:flex;
}
.u304 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u304_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u305_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
.u305 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:62px;
  width:60px;
  height:14px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
.u305 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u305_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:13px;
}
.u306 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:0px;
  width:29px;
  height:13px;
  display:flex;
  font-size:9px;
  color:#F2F2F2;
}
.u306 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u306_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u302-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:76px;
}
#u302-2 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:0px;
  width:60px;
  height:76px;
}
#u302-3 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:0px;
  width:60px;
  height:76px;
}
#u302-4 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:0px;
  width:60px;
  height:76px;
}
#u302-5 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:0px;
  width:60px;
  height:76px;
}
#u302-6 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:0px;
  width:60px;
  height:76px;
}
#u302-7 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:0px;
  width:60px;
  height:76px;
}
#u302-8 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:0px;
  width:60px;
  height:76px;
}
#u302-9 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:0px;
  width:60px;
  height:76px;
}
#u302-10 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:0px;
  width:60px;
  height:76px;
}
#u302-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:106px;
  width:60px;
  height:76px;
}
#u302-12 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:106px;
  width:60px;
  height:76px;
}
#u302-13 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:106px;
  width:60px;
  height:76px;
}
#u302-14 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:106px;
  width:60px;
  height:76px;
}
#u302-15 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:106px;
  width:60px;
  height:76px;
}
#u302-16 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:106px;
  width:60px;
  height:76px;
}
#u302-17 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:106px;
  width:60px;
  height:76px;
}
#u302-18 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:106px;
  width:60px;
  height:76px;
}
#u302-19 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:106px;
  width:60px;
  height:76px;
}
#u302-20 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:106px;
  width:60px;
  height:76px;
}
#u302-21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:212px;
  width:60px;
  height:76px;
}
#u302-22 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:212px;
  width:60px;
  height:76px;
}
#u302-23 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:212px;
  width:60px;
  height:76px;
}
#u302-24 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:212px;
  width:60px;
  height:76px;
}
#u302-25 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:212px;
  width:60px;
  height:76px;
}
#u302-26 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:212px;
  width:60px;
  height:76px;
}
#u302-27 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:212px;
  width:60px;
  height:76px;
}
#u302-28 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:212px;
  width:60px;
  height:76px;
}
#u302-29 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:212px;
  width:60px;
  height:76px;
}
#u302-30 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:212px;
  width:60px;
  height:76px;
}
#u302-31 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:318px;
  width:60px;
  height:76px;
}
#u302-32 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:318px;
  width:60px;
  height:76px;
}
#u302-33 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:318px;
  width:60px;
  height:76px;
}
#u302-34 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:318px;
  width:60px;
  height:76px;
}
#u302-35 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:318px;
  width:60px;
  height:76px;
}
#u302-36 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:318px;
  width:60px;
  height:76px;
}
#u302-37 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:318px;
  width:60px;
  height:76px;
}
#u302-38 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:318px;
  width:60px;
  height:76px;
}
#u302-39 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:318px;
  width:60px;
  height:76px;
}
#u302-40 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:318px;
  width:60px;
  height:76px;
}
#u302 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:1320px;
  height:394px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u307_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u307 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:33px;
  display:flex;
}
#u307 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u307_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u308_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u308_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u308_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#333333;
}
#u308 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:240px;
  height:25px;
  display:flex;
  color:#333333;
}
#u308 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u308_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#333333;
}
#u308.disabled {
}
#u309_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:25px;
  background:inherit;
  background-color:rgba(59, 140, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u309 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:4px;
  width:48px;
  height:25px;
  display:flex;
  color:#FFFFFF;
}
#u309 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u309_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u310 {
  position:absolute;
  left:4px;
  top:80px;
}
#u310_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:62px;
  height:63px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u310_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u311 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:45px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u312 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:62px;
  height:19px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u312 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u312_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:36px;
}
#u313 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:0px;
  width:39px;
  height:36px;
  display:flex;
}
#u313 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u313_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u310_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:62px;
  height:63px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u310_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u314 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u315_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:45px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u315 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:62px;
  height:19px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u315 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u315_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u316_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:36px;
}
#u316 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:0px;
  width:39px;
  height:36px;
  display:flex;
}
#u316 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u316_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u317 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:0px;
  width:16px;
  height:16px;
  display:flex;
}
#u317 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u317_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u318 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:34px;
}
#u319 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:170px;
  width:42px;
  height:34px;
  display:flex;
}
#u319 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u319_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:45px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u320 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:213px;
  width:66px;
  height:16px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u320 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u320_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u321 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:44px;
  width:5px;
  height:18px;
  display:flex;
}
#u321 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u321_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u322_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u322 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:44px;
  width:64px;
  height:18px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u322 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u322_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u324 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u325_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
.u325 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  display:flex;
}
.u325 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u325_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u326_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
.u326 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:62px;
  width:60px;
  height:14px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
.u326 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u326_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u323-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:76px;
}
#u323 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:634px;
  width:60px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u327_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u327 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:593px;
  width:5px;
  height:18px;
  display:flex;
}
#u327 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u327_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u328_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u328 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:592px;
  width:65px;
  height:18px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u328 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u328_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1392px;
  height:2px;
}
#u329 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:574px;
  width:1391px;
  height:1px;
  display:flex;
}
#u329 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u329_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u330_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:11px;
  height:722px;
}
#u330 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:44px;
  width:5px;
  height:716px;
  display:flex;
}
#u330 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u330_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u331 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u332_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
}
#u332 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:44px;
  width:45px;
  height:21px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
}
#u332 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u332_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:21px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
}
#u332.mouseDown {
}
#u332_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:21px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
}
#u332.selected {
}
#u332_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
}
#u333 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:44px;
  width:45px;
  height:21px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
}
#u333 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u333_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:21px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
}
#u333.mouseDown {
}
#u333_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:21px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
}
#u333.selected {
}
#u333_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
