body {
  margin:0px;
  background-color:rgba(85, 85, 85, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1482px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u298 {
  position:absolute;
  left:114px;
  top:78px;
}
#u298_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1320px;
  height:444px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u298_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u300 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u301_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
.u301 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  display:flex;
}
.u301 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u301_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u302_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
.u302 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:62px;
  width:60px;
  height:14px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
.u302 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u302_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u299-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:76px;
}
#u299-2 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:0px;
  width:60px;
  height:76px;
}
#u299-3 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:0px;
  width:60px;
  height:76px;
}
#u299-4 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:0px;
  width:60px;
  height:76px;
}
#u299-5 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:0px;
  width:60px;
  height:76px;
}
#u299-6 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:0px;
  width:60px;
  height:76px;
}
#u299-7 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:0px;
  width:60px;
  height:76px;
}
#u299-8 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:0px;
  width:60px;
  height:76px;
}
#u299-9 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:0px;
  width:60px;
  height:76px;
}
#u299-10 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:0px;
  width:60px;
  height:76px;
}
#u299-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:106px;
  width:60px;
  height:76px;
}
#u299-12 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:106px;
  width:60px;
  height:76px;
}
#u299-13 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:106px;
  width:60px;
  height:76px;
}
#u299-14 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:106px;
  width:60px;
  height:76px;
}
#u299-15 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:106px;
  width:60px;
  height:76px;
}
#u299-16 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:106px;
  width:60px;
  height:76px;
}
#u299-17 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:106px;
  width:60px;
  height:76px;
}
#u299-18 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:106px;
  width:60px;
  height:76px;
}
#u299-19 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:106px;
  width:60px;
  height:76px;
}
#u299-20 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:106px;
  width:60px;
  height:76px;
}
#u299-21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:212px;
  width:60px;
  height:76px;
}
#u299-22 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:212px;
  width:60px;
  height:76px;
}
#u299-23 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:212px;
  width:60px;
  height:76px;
}
#u299-24 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:212px;
  width:60px;
  height:76px;
}
#u299-25 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:212px;
  width:60px;
  height:76px;
}
#u299-26 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:212px;
  width:60px;
  height:76px;
}
#u299-27 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:212px;
  width:60px;
  height:76px;
}
#u299-28 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:212px;
  width:60px;
  height:76px;
}
#u299-29 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:212px;
  width:60px;
  height:76px;
}
#u299-30 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:212px;
  width:60px;
  height:76px;
}
#u299-31 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:318px;
  width:60px;
  height:76px;
}
#u299-32 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:318px;
  width:60px;
  height:76px;
}
#u299-33 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:318px;
  width:60px;
  height:76px;
}
#u299-34 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:318px;
  width:60px;
  height:76px;
}
#u299-35 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:318px;
  width:60px;
  height:76px;
}
#u299-36 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:318px;
  width:60px;
  height:76px;
}
#u299-37 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:318px;
  width:60px;
  height:76px;
}
#u299-38 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:318px;
  width:60px;
  height:76px;
}
#u299-39 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:318px;
  width:60px;
  height:76px;
}
#u299-40 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:318px;
  width:60px;
  height:76px;
}
#u299 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:1320px;
  height:394px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u303_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u303 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:33px;
  display:flex;
}
#u303 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u303_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u304_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u304_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u304_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#333333;
}
#u304 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:240px;
  height:25px;
  display:flex;
  color:#333333;
}
#u304 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u304_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#333333;
}
#u304.disabled {
}
#u305_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:25px;
  background:inherit;
  background-color:rgba(59, 140, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u305 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:4px;
  width:48px;
  height:25px;
  display:flex;
  color:#FFFFFF;
}
#u305 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u305_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u298_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:1320px;
  height:444px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u298_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u307 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u308_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
.u308 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  display:flex;
}
.u308 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u308_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u309_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
.u309 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:62px;
  width:60px;
  height:14px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
.u309 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u309_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u310_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:13px;
}
.u310 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:0px;
  width:29px;
  height:13px;
  display:flex;
  font-size:9px;
  color:#F2F2F2;
}
.u310 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u310_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u306-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:76px;
}
#u306-2 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:0px;
  width:60px;
  height:76px;
}
#u306-3 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:0px;
  width:60px;
  height:76px;
}
#u306-4 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:0px;
  width:60px;
  height:76px;
}
#u306-5 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:0px;
  width:60px;
  height:76px;
}
#u306-6 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:0px;
  width:60px;
  height:76px;
}
#u306-7 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:0px;
  width:60px;
  height:76px;
}
#u306-8 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:0px;
  width:60px;
  height:76px;
}
#u306-9 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:0px;
  width:60px;
  height:76px;
}
#u306-10 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:0px;
  width:60px;
  height:76px;
}
#u306-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:106px;
  width:60px;
  height:76px;
}
#u306-12 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:106px;
  width:60px;
  height:76px;
}
#u306-13 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:106px;
  width:60px;
  height:76px;
}
#u306-14 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:106px;
  width:60px;
  height:76px;
}
#u306-15 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:106px;
  width:60px;
  height:76px;
}
#u306-16 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:106px;
  width:60px;
  height:76px;
}
#u306-17 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:106px;
  width:60px;
  height:76px;
}
#u306-18 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:106px;
  width:60px;
  height:76px;
}
#u306-19 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:106px;
  width:60px;
  height:76px;
}
#u306-20 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:106px;
  width:60px;
  height:76px;
}
#u306-21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:212px;
  width:60px;
  height:76px;
}
#u306-22 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:212px;
  width:60px;
  height:76px;
}
#u306-23 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:212px;
  width:60px;
  height:76px;
}
#u306-24 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:212px;
  width:60px;
  height:76px;
}
#u306-25 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:212px;
  width:60px;
  height:76px;
}
#u306-26 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:212px;
  width:60px;
  height:76px;
}
#u306-27 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:212px;
  width:60px;
  height:76px;
}
#u306-28 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:212px;
  width:60px;
  height:76px;
}
#u306-29 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:212px;
  width:60px;
  height:76px;
}
#u306-30 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:212px;
  width:60px;
  height:76px;
}
#u306-31 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:318px;
  width:60px;
  height:76px;
}
#u306-32 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:318px;
  width:60px;
  height:76px;
}
#u306-33 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:318px;
  width:60px;
  height:76px;
}
#u306-34 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:318px;
  width:60px;
  height:76px;
}
#u306-35 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:318px;
  width:60px;
  height:76px;
}
#u306-36 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:318px;
  width:60px;
  height:76px;
}
#u306-37 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:318px;
  width:60px;
  height:76px;
}
#u306-38 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:318px;
  width:60px;
  height:76px;
}
#u306-39 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:318px;
  width:60px;
  height:76px;
}
#u306-40 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:318px;
  width:60px;
  height:76px;
}
#u306 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:1320px;
  height:394px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u311_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u311 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:33px;
  display:flex;
}
#u311 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u311_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u312_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u312_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#333333;
}
#u312 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:240px;
  height:25px;
  display:flex;
  color:#333333;
}
#u312 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u312_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#333333;
}
#u312.disabled {
}
#u313_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:25px;
  background:inherit;
  background-color:rgba(59, 140, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u313 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:4px;
  width:48px;
  height:25px;
  display:flex;
  color:#FFFFFF;
}
#u313 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u313_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u314 {
  position:absolute;
  left:4px;
  top:80px;
}
#u314_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:62px;
  height:63px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u314_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u315 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u316_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:45px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u316 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:62px;
  height:19px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u316 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u316_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:36px;
}
#u317 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:0px;
  width:39px;
  height:36px;
  display:flex;
}
#u317 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u317_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u314_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:62px;
  height:63px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u314_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u318 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u319_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:45px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u319 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:62px;
  height:19px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u319 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u319_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u320_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:36px;
}
#u320 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:0px;
  width:39px;
  height:36px;
  display:flex;
}
#u320 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u320_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u321_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u321 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:0px;
  width:16px;
  height:16px;
  display:flex;
}
#u321 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u321_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u322 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:34px;
}
#u323 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:170px;
  width:42px;
  height:34px;
  display:flex;
}
#u323 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u323_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u324_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:45px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u324 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:213px;
  width:66px;
  height:16px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u324 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u324_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u325 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:44px;
  width:5px;
  height:18px;
  display:flex;
}
#u325 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u325_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u326_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u326 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:44px;
  width:64px;
  height:18px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u326 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u326_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u328 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
.u329 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  display:flex;
}
.u329 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u329_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u330_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
.u330 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:62px;
  width:60px;
  height:14px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
.u330 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u330_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u327-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:76px;
}
#u327 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:634px;
  width:60px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u331_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u331 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:593px;
  width:5px;
  height:18px;
  display:flex;
}
#u331 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u331_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u332_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u332 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:592px;
  width:65px;
  height:18px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u332 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u332_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1392px;
  height:2px;
}
#u333 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:574px;
  width:1391px;
  height:1px;
  display:flex;
}
#u333 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u333_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u334_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:11px;
  height:722px;
}
#u334 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:44px;
  width:5px;
  height:716px;
  display:flex;
}
#u334 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u334_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u335 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u336_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
}
#u336 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:44px;
  width:45px;
  height:21px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
}
#u336 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u336_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:21px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
}
#u336.mouseDown {
}
#u336_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:21px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
}
#u336.selected {
}
#u336_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u337_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
}
#u337 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:44px;
  width:45px;
  height:21px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
}
#u337 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u337_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:21px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
}
#u337.mouseDown {
}
#u337_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:21px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
}
#u337.selected {
}
#u337_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
